/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Permanent+Marker&display=swap");
/* ========= */

/* Resetting CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Permanent Marker", cursive; */
  background-color: black;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  right: 0 !important;
}